<div class='<%=widget.class.name.underscore%>'>
<h1><%= t(:askbot_title)%> </h1>
<h2><%= t(:askbot_subtitle)%> </h2>
<% widget.questions.map do |question| %>
<div class='item'>
  <div class='author'>
    <div class='image'><img src='<%= widget.user(question['author']['id'])['avatar'].gsub('http://oraculo.serpro','') %>'/></div>
    <div class='name'><%= question['author']['username'] %></div>
  </div>

  <div class="question triangle-border left">
    <%= question['summary'].html_safe %>
  </div>
  <br style='clear: both'/>
</div>
<% end %>

</div>
