<div class='<%=widget.class.name.underscore%>'>
  <h1><%= t(:sonar_title)%> </h1>
  <h2><%= t(:sonar_subtitle)%> </h2>
  <% widget.systems_coverage.map do |system, coverage| %>
    <div class='system-info'>
      <div class='name'> <%= system %> </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= coverage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=coverage%>%;">
          <%= coverage%>
        </div>
      </div>
    </div>
  <% end %>
</div>
