<p id="notice"><%= notice %></p>

<h1>
  <%= t(:panel_list) %> 
  <%= link_to t(:action_new), new_panel_path %>
  <%= select_tag :panel_state, options_for_select([[t(:active), 'active'],[t(:inactive), 'inactive']]), :include_blank => true %>
</h1>


<ul id='list-of-panels'>
  <%= render :partial => @panels %>
</ul>

<%= will_paginate @panels %>

