
<div id="myCarousel" class="carousel slide auto" data-ride="carousel" data-interval="30000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @widgets.map do |widget| %>
      <div class="item <%= widget == @widgets[0] ? 'active' : ''%>">
        <%= render :partial => partial_for_widget(widget), :locals => {:widget => widget} %>
      </div>
    <% end %>
  </div>

  <!-- Left and right controls -->
  <% if params[:screen].nil? %>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <% end %>
</div>

