<% if @widget.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

    <ul>
    <% @widget.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= label_tag 'widget[name]', t(:name)%>
  <%= text_field_tag 'widget[name]', @widget.name %>
</div>

<div id='partial_for_widget'>
<%= render :partial => partial_for_widget(@widget) + '_form' %>
</div>

<% if @widget.new_record? %>
  <div class="field">
    <%= label_tag 'type', t(:type) %>
    <%= select_tag 'type', options_for_select(Widget.widget_types.map{|a| [a.model_name.human, a.to_s]}, @widget.type), {:id => 'widget_type'} %>
  </div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
