<h1><%= t(:edit_widget) %></h1>

<%= form_for([@panel, @widget], :url => panel_widget_path(@panel, @widget.id), :method => :put) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to t(:show), panel_widget_path(@panel, @widget) %> |
<%= link_to t(:back), panel_widgets_path(@panel)  %>
