<p id="notice"><%= notice %></p>

<h1>
  <%= t('list_widgets', panel_name: @panel.name) %>
  <%= link_to t(:action_new), new_panel_widget_path(@panel) %>
</h1>

<ul id='list-of-widgets'>
  <%= render :partial => 'widget', :locals => {:panel => @panel}, :collection => @widgets %>
</ul>

<%= will_paginate @widgets %>
