<h1><%= t(:widget_new) %> </h1>

<%= form_for([@panel, @widget], :url => panel_widgets_path(@panel, @widget)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', panel_widgets_path(@panel) %>
