<p id="notice"><%= notice %></p>

<%= render :partial => 'panels/'+partial_for_widget(@widget), :locals => {:widget => @widget} %>

<%= link_to t(:edit), edit_panel_widget_path(@panel, @widget) %> |
<%= link_to t(:back), panel_widgets_path(@panel) %>
